
.home{
    height: 50vh;
    background:  linear-gradient(rgba(33,33,33,0.4), rgba(33,33,33,0.4)), url('../../../Assets/background.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    position: relative;

    .homeContainer{
        .homeText{
            text-align: center;

            .title{
                color: var(--whiteColor);
                font-size: 2rem;
                font-weight: 700;
                line-height: 2.5rem;
                margin-bottom: 20px;
            }
            .btn{
                transform: translateY(15px);
            }
        }


    }

    .homeCard{
        min-width: 75%;
        border-radius: 1rem;
        padding: 2rem;
        background:var(--whiteColor);
        position: absolute;
        gap:1rem;
        justify-content: center;
        transform: translate(-50%);
        left: 50%;
        box-shadow: 0 2px 8px 4px rgba(178,178,178, 0.5);

        .flex{
            justify-content: space-between;
            .icon{
                color:var(--textColor);
            }
            
        }
        .locationDiv, .timeDiv, .peopleDiv {
            border-radius: 1rem;
            background: var(--greyBg);
            max-width: 100%;
            
            input{
                max-width: 100%; 
                // box-sizing: border-box;
                background: var(--inputColor);
                border-radius: 10px;
                border:none;
                padding:10px;
                font-size: 15px;
                font-weight: 500;

                &:placeholder {
                    font-size: 15px;
                    opacity: .5;
                    font-weight: 400;
                }
            }
        }
        .btn {
            width: 100%;
            padding: .6rem 1.5rem;
        }
        .peopleDiv{
            display: flex;
            flex-direction: row;
            align-items: center ;
            position: relative;
            z-index: 1;
            .drop-icon{
                position: absolute;
                right: 10px;
                cursor: pointer;
            }
        }
        .dropItem{
            position: absolute;
            top:110%;
            width: 100%;
            border-radius: 1rem;
            background: var(--greyBg);
            padding:10px;
            p{
                color:var(--textColor);
                padding: 0.7rem 0;
            }
            .item-icon{
                cursor: pointer;
            }
            input{
                width: 30%;
            }

        }
    }
}

@media screen and (min-width: 1023px) {
    .home{
        .homeContainer{
            .homeCard{
                bottom: -15%;
                grid-template-columns: repeat(4,1fr);
            }
            
        }
    }
}