
.footer {
    position: fixed;
    
    width: 100%;
    background: black;
    padding: 2rem 0;


    .footerContainer {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 1.5rem;
        text-align: center;

        .footerLogo {
            padding-bottom: .5rem;

            .logo {
                color: var(--blackColor);
                font-weight: 500;
                cursor: pointer;
                align-items: center;
                justify-content: center;
                padding-bottom: .5rem;

                .icon {
                    font-size: 50px;
                    color: black;
                    margin-right: .5rem;
                }

            }
        }

        .footerInfo {
            display: grid;
            row-gap: .2rem;

            .linkTitle {
                padding-bottom: .5rem;
                color: var(--blackColor);
                font-weight: 700;

            }

            .phone,
            .email {
                color: var(--textColor);
                font-size: 13px;
                font-weight: 500;

            }
        }
    }
}