:root {
    --PrimaryColor: rgb(37, 150, 190);
    --HoverColor: rgba(37, 150, 190, 255);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --textColor: hsl(240, 1%, 48%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyBg: hsl(0, 0%, 96%);
    --greyText: rgb(190, 190, 190);
    --inputColor: hsl(330, 12%, 97%);

}

.feature {
    position: relative;
    top: 150px;
    width: 75%;
    margin: 0 auto;

    .featureHeader {
        margin-bottom: 1.5rem;
    }

    .featureList {
        display: flex;
        flex-direction: row;
        gap: 20px;

        .featureItem {
            position: relative;
            color: rgb(20, 20, 20);
            border-radius: 10px;
            overflow: hidden;
            height: 250px;
            flex: 1;

            &:hover {
                cursor: pointer;
                transform: scale(1.06);
            }

            .featureImg {
                object-fit: cover;
                object-position: bottom;
                height: 100%;
                width: 100%;
            }

            .featureTitle {
                position: absolute;
                bottom: 1.5rem;
                left: 1rem;
                color: var(--whiteColor);
            }
        }

    }



}

@media screen and (max-width:1024px) {
    .feature {

        .featureList{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
}
@media screen and (max-width:769px) {
    .feature {
        margin-top: 3rem;
        .featureList{
            display: grid;
            grid-template-columns:1fr;
        }
    }
}