.app-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
  top: 70%;
  left: 60%;
  transform: translate(-50%, 0%);
  background-color: white;
  overflow: scroll;
  padding:20px;
  height: 90vh;
  border-radius: 10px;
}

.left-section {
  display: flex;
  flex-direction: column;
  width: 68%;
  gap: 30px;
  height: 100vh;
}

.rectangle {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 8px 4px rgba(178,178,178, 0.5);
   padding: 10px;
  border-radius: 8px;
}

.rectangle-top {
  background-color: #ffffff;
  /* Màu nền trắng */
  padding-bottom: 10px;
  border-radius: 10px;
  height: max-content;
}

.rectangle-top h3 {
  margin: 0;
}

.rectangle-bottom {
  /* background-color:var(--greyBg); */
  border-radius: 10px;
  padding:0px 10px;
}

.item-info {
  margin: 0;
}

.item-price {
  margin: 10px 0;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container input {
  margin-right: 5px;
}

.right-section {
  width: 30%;
  position: sticky;
  top: 0;
  height: max-content;
}

.total-price {
  box-shadow: 0 2px 8px 4px rgba(178,178,178, 0.5);
  padding: 10px;
  border-radius: 10px;
}

.total-price p {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0px 20px 0px;
}

.total-price-value {
  color: rgb(233, 222, 222);
}

button {
  padding: 10px;
  background-color: var(--PrimaryColor);
  color: var(--whiteColor);
  border: none;
  width: 100%;
  font-weight: 500;
  border-radius: 10px;
}

.hotelImage {

  object-fit: cover;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  height: 200px;
  width: 40%;
  border-radius: 10px;

}

.hotel-info {
  overflow: auto;
}


.contentMax {
  overflow: auto;
  /* Đảm bảo nội dung không bị tràn ra khỏi phần tử cha */
  padding:10px;
  position: relative;
}

.body {
  background-color: #b63030;
}


.pen2 {
  color: #f30000;
  font-weight: 600;
}

.total-price h3 {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.total-price .pen2 {
  justify-self: end;
}

.rectangle-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkbox-container {
  order: -1;
}

.trash-icon{
  position: absolute;
  top:10px;
  right:10px;
  color: darkgrey;
  cursor: pointer;
}